@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-resolution: 192dpi) {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
    transform: scale(1.001);
  }
}
